.vscode
.DS_Store

# File di output LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# File PDF generati
*.pdf

# Rust Cargo files
Cargo.lock
target/

# Javascript
node_modules/
.svelte-kit/


# flutter
# iOS/macOS: roba generata
**/Flutter/Generated.xcconfig
**/Flutter/flutter_export_environment.sh
**/Flutter/ephemeral/

# Xcode cache
**/DerivedData/
